<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="../static/ourteam.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        
		<div class="main">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contacts</a></li>
                <li><a href="/contribute">Contribute</a></li>
				<li class="active"><a href="/ourteam">Our Team</a></li>
            </ul>
        </div>

        <h1>Our Team</h1>

        <section class="container">

            <div class="card">
                <div class="bg-image">
                    <img src="../static/bg-image.jpg">
                </div>

                <div class="pic">
                    <img src="../static/black.png" alt="">
                </div>

                <div class="info">
                    <h3>Someones Name Here</h3>
                    <span><i class='fas fa-code'>web designer</i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque mollitia, porro delectus iusto nihil officia quo fugit amet asperiores expedita?</p>
                </div>

                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>

            </div>

            <div class="card">
                <div class="bg-image">
                    <img src="../static/bg-image.jpg">
                </div>

                <div class="pic">
                    <img src="../static/black.png" alt="">
                </div>

                <div class="info">
                    <h3>Someones Name Here</h3>
                    <span><i class='fas fa-code'>web designer</i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque mollitia, porro delectus iusto nihil officia quo fugit amet asperiores expedita?</p>
                </div>

                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>

            </div>

            <div class="card">
                <div class="bg-image">
                    <img src="../static/bg-image.jpg">
                </div>

                <div class="pic">
                    <img src="../static/black.png" alt="">
                </div>

                <div class="info">
                    <h3>Someones Name Here</h3>
                    <span><i class='fas fa-code'>web designer</i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque mollitia, porro delectus iusto nihil officia quo fugit amet asperiores expedita?</p>
                </div>

                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>

            </div>

            <div class="card">
                <div class="bg-image">
                    <img src="../static/bg-image.jpg">
                </div>

                <div class="pic">
                    <img src="../static/black.png" alt="">
                </div>

                <div class="info">
                    <h3>Someones Name Here</h3>
                    <span><i class='fas fa-code'>web designer</i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque mollitia, porro delectus iusto nihil officia quo fugit amet asperiores expedita?</p>
                </div>

                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>

            </div>

        </section>


    </body>
</html>